body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Attractive Gradient Background */
    background: linear-gradient(135deg, #ff4b1f, #1fddff);
}

/* Social Icons Left Side */
.social{
    position: absolute;
    left: 20px;
    top: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.social img:hover{
    transform: scale(1.2);
}

.main{
    width: 300px;
    background: #ffffffc9;
    backdrop-filter: blur(5px);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}

.profile-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 10px #00000060;
}

button{
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background: #0056b3;
}
